* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    height: 75px;
    width: 100%;
    background-color: #F6F4F3;
    position: fixed;
    display: inline-block;
    z-index: 2;
    border-bottom: 1px solid #002962;
    top: 0;
}

#logo {
    float: left;
    padding-left: 50px;
}

#logo a {
    text-decoration: none;
    color: #a0001c;
    font-family: 'Kalam', cursive;
    font-size: 45px;
    text-transform: uppercase;
    /* to vertically align logo  */
    display: inline-block;
    height: 75px;
    line-height: 75px;
}

#nav-bar {
    float: right;
    padding-right: 100px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Tinos', sans-serif;
    line-height: 75px;
}

.nav-item {
    list-style-type: none;
    padding: 0px 50px;
    display: inline-block;
}

#nav-bar a {
    text-decoration: none;
    color: #a0001c;
    padding: 15px;
    /* stop word jumping when hover */
    border: 2px solid #F6F4F3;
}

#nav-bar .active {
    color: #002962;
    text-decoration: underline;
}

#nav-bar a:hover {
    border: 2px solid #a0001c;
    padding: 15px;
    border-radius: 25px;
    color: #002962;
}

#main-photo {
    height: 750px;
    width: 100%;
    overflow: hidden;
    background: url(./Images/Wall2.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    /* if background image doesn't load */
    background-color: #b73239;
}

.about {
    width: 300px;
    height: 300px;
    font-family: 'Tinos', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #f6f5f4;
    border-radius: 25px;
    box-sizing: border-box;
    position: absolute;
}

#title {
    top: 125px;
    left: 100px;
    background-color: rgba(160, 0, 28, 0.6);
    padding: 40px 20px 0 20px;
    text-transform: uppercase;

    animation: title-color 5s forwards;
}

@keyframes title-color {
    from {
        background-color: rgba(160, 0, 28, 0.6);
    }

    to {
        background-color: rgba(24, 48, 89, .7);
    }
}

#tagline {
    top: 325px;
    left: 300px;
    z-index: 1;
    background-color: rgba(24, 48, 89, 0.7);
    padding: 30px 20px 0 20px;

    animation: tagline-color 5s forwards;
}

@keyframes tagline-color {
    from {
        background-color: rgba(24, 48, 89, 0.7);
    }

    to {
        background-color: rgba(160, 0, 28, 0.6);
    }
}

#address-hours {
    font-family: 'Biryani', sans-serif;
    background-color: #F6F4F3;
    color: #F6F4F3;
    font-size: 20px;
    height: 400px;
    width: 100%;
    text-align: center;
}

#address-hours div {
    height: 300px;
    width: 25%;
    padding: 20px;
    border-radius: 25px;
    background-color: #a0001c;
    margin-top: 25px;
    margin-bottom: 25px;
}

#find-us {
    float: left;
    margin-left: 50px;
}

#map {
    display: inline-block;
    justify-content: center;
    justify-self: center;
}

iframe {
    border-radius: 25px;
}

#opening {
    float: right;
    text-align: center;
    margin-right: 50px;
}

#opening li {
    list-style-type: none;
    line-height: 150%;
}

h3 {
    font-size: 25px;
}

#opening>h3 {
    padding-bottom: 10px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #F6F4F3;
    font-family: 'Biryani', sans-serif;
    padding: 20px;
    border-top: 1px solid #002962;
    color: #a0001c;
}

footer>div {
    font-size: 25px;
}

footer li {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 33.3%;
    font-size: 15px;
    padding-top: 20px;
}

footer>ul {
    height: 50px;
}

footer a {
    font-weight: 500;
    text-decoration: none;
    color: #a0001c;
    padding: 15px;
    /* stop word jumping when hover */
    border: 2px solid #F6F4F3;
}

footer a:hover {
    border: 2px solid #a0001c;
    padding: 15px;
    border-radius: 25px;
    color: #002962;
}

#friday-comedy,
#saturday-comedy {
    font-family: 'Biryani', sans-serif;
    background-color: #F6F4F3;
    color: #F6F4F3;
    font-size: 20px;
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#friday {
    margin-top: 75px;
    color: #002962;
}

#friday,
#saturday {
    height: 40px;
    display: block;
    padding-left: 50px;
    padding-top: 20px;
    background-color: #f6f5f4;
}

#saturday {
    border-top: 1px solid #a0001c;
    color: #a0001c;
}

#friday-comedy div {
    height: 300px;
    width: 25%;
    padding: 20px;
    border-radius: 25px;
    background-color: #a0001c;
    display: inline-block;
}

#don-delaney {
    float: left;
    margin-left: 50px;
}

.comedian p {
    /* background-color: #a0001c; */
    color: #f6f5f4;
    font-family: "biryani", sans-serif;
    padding-bottom: 10px;
}

#friday-comedy p {
    background-color: #a0001c;
}

#saturday-comedy p {
    background-color: #002962;
}

.comedian img {
    /* background-color: #a0001c; */
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

#malc-benn {
    float: right;
    text-align: center;
    margin-right: 50px;
}

#saturday-comedy div {
    height: 300px;
    width: 25%;
    padding: 20px;
    border-radius: 25px;
    background-color: #002962;
    display: inline-block;
}

#hayley-tomlinson {
    float: left;
    margin-left: 50px;
}

#dominic-marlin {
    float: right;
    text-align: center;
    margin-right: 50px;
}