@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Kalam:wght@700&family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    height: 75px;
    width: 100%;
    background-color: #F6F4F3;
    border-bottom: #002962;
    position: fixed;
    display: inline-block;
}

#logo {
    float: left;
    padding-left: 50px;
    margin: 0;
    display: inline-block;

}

#logo a {
    text-decoration: none;
    color: #a0001c;
    font-family: 'Kalam', cursive;
    font-size: 45px;
    text-transform: uppercase;
    /* to vertically align logo  */
    display: inline-block;
    height: 75px;
    line-height: 75px;
}

#nav-bar {
    float: right;
    padding-right: 100px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Tinos', sans-serif;
    line-height: 75px;
}

.nav-item {
    list-style-type: none;
    padding: 0px 50px;
    display: inline-block;
}

#nav-bar a {
    text-decoration: none;
    color: #a0001c;
    padding: 20px;
    /* stop word jumping when hover */
    border: 1px solid #F6F4F3;
}

#nav-bar .active {
    color: #002962;
    text-decoration: underline;
}

#nav-bar a:hover {
    border: 1px solid #a0001c;
    padding: 20px;
    border-radius: 25px;
    color: #002962;
}